<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
</head>
<body>
  
<div class="form-container">
  <form method="POST">
    <h2>Login to VPMS</h2>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <div class="input-group">
      <input type="email" name="email" required>
      <label>Email</label>
    </div>

    <div class="input-group">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>

    <button type="submit">Login</button>

    <p>Don’t have an account? <a href="/register">Register</a></p>
  </form>
</div>

</body>
</html>
